body{
    margin: 0px;
    padding-bottom: 0px;
    background-image: url("../images/background-image.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 600px;
}
#play{
    text-decoration: none;
    color:#4C2616;    
    font-family: cursive;
}
#link{
    text-align: center;
    margin-top: 50px;
}
#boxes{
    text-align: center;
    margin: 20px;
}
.pic{
    cursor: pointer;
    opacity: 0.95;
    margin: 40px;
    cursor: pointer;
    height: 210px;
    width: 265px;
}
.pic:hover{
    opacity: 1;    
}
